{% extends 'principal/header.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <img class="img-fluid profilePic" src="../../static/principal/img/Seine.jpg" />
    </div>
    <div class="col-sm-7">
      <h2>Greetings!</h2>
      <p>
        Welcome to my blog! This is a place for me to organize thoughts, share stories, and practice coding. 
      </p>
      <p>
        I am a happy graduate of the LaunchCode.org bootcamp, and am currently looking for a front-end web development apprenticeship. 
      </p>
      <p>
        I don't know by what desire or stroke of chance you have stumbled upon this site, but welcome!
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--<img class="img-fluid" src="../../static/principal/img/Seine.jpg">-->