
body {
  background-color: #ECEEEF;
  margin-bottom: 100px;
}

html {
  position: relative;
  min-height: 100%;
}
input {
  width: 20%;
}

label {
  display: block;
}

textarea {
  width: 30%;
}

.carousel {
  width: 50%;
  margin: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;margin: 0 0 0 15px;
  background-color: #ECEEEF;
}

.mainContent {
  display: inline-block;
}

.navbar-custom {
  margin-bottom: 80px;
  background-color: #ECEEEF;
}

.postImage {
  width: 80%
}

.profilePic {
  width: 50%;
}