
.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2em;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.coolStuffWrapper {
  margin: 20px;
}

button.coolStuffbtn {
  background-color: red;
  color: white;
  display: block;
  margin: auto;
}
